<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/boards}">

<!-- layout1.html과 합쳐지기 위한 코딩 -->
<div layout:fragment="content">

	<div class="panel-heading">Modify Page</div>
	<div class="panel-body">

    <form id='f1'>

			<div class="form-group">
			<label>ID</label> <input class="form-control" name="id"
				th:value="${vo.id}" readonly="readonly"/>
				<p class="help-block">ID number here. ( PRIMARY KEY )</p>
		</div>

		<div class="form-group">
			<label>Name</label> <input class="form-control" name="name"
				th:value="${vo.name}"  />
				<p class="help-block">Name text here.</p>
		</div>

		<div class="form-group">
			<label>District</label> <input class="form-control" name="district"
				th:value="${vo.district}" />
				<p class="help-block">District text here.</p>
		</div>

		<div class="form-group">
			<label>Population</label> <input class="form-control" name="population"
				th:value="${vo.population}"/>
				<p class="help-block">Population number here.</p>
		</div>
		
		<div class="form-group">
			<label>CountryCode</label>
			<input class="form-control" name="country" th:value="${vo.country.code}"/>
				<p class="help-block">CountryCode text here.</p>
		</div>

		
		<input type='hidden' name="page" th:value="${pageVO.page}">
		<input type='hidden' name="size" th:value="${pageVO.size}">
		<input type='hidden' name="type" th:value="${pageVO.type}">
		<input type='hidden' name="keyword" th:value="${pageVO.keyword}">
		
		</form>


		<div class="pull-right">
		
		  <a href="#" class="btn btn-warning modbtn">Modify</a>
		
		  <a href="#" class="btn btn-danger delbtn">Delete</a>

			<a th:href="@{ list(page=${pageVO.page}, 
			                size=${pageVO.size}, 
			                type=${pageVO.type}, 
			                keyword=${pageVO.keyword},
			                id = ${vo.id}
			             )}" class="btn btn-primary">Cancel & Go List</a> 
		</div>

	</div>

</div>
<!--  end fragment -->

<th:block layout:fragment="script">

	<script th:inline="javascript">
	$(document).ready(function(){
	
		var formObj = $("#f1");
		
		$(".delbtn").click(function(){
			
			formObj.attr("action","delete");
			formObj.attr("method", "post");
			
			formObj.submit();
			
		});
		
		$(".modbtn").click(function(){
			
			formObj.attr("action","modify");
			formObj.attr("method", "post");
			
			formObj.submit();
			
		});
		
		
	});	
	</script>

</th:block>