<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/boards}">

<!-- layout1.html과 합쳐지기 위한 코딩 -->
<div layout:fragment="content">

	<div class="panel-heading">Register Page</div>
	<div class="panel-body">

		<form th:action="@{register}" method="post">

		<div class="form-group">
			<label>ID</label> <input class="form-control" name="id"
				th:value="${vo.id}"/>
				<p class="help-block">ID number here. ( PRIMARY KEY )</p>
		</div>

		<div class="form-group">
			<label>Name</label> <input class="form-control" name="name"
				th:value="${vo.name}"  />
				<p class="help-block">Name text here.</p>
		</div>

		<div class="form-group">
			<label>District</label> <input class="form-control" name="district"
				th:value="${vo.district}" />
				<p class="help-block">District text here.</p>
		</div>

		<div class="form-group">
			<label>Population</label> <input class="form-control" name="population"
				th:value="${vo.population}"/>
				<p class="help-block">Population number here.</p>
		</div>

		<div class="form-group">
			<label>CountryCode</label>
			<input class="form-control"	name="country" th:value="${vo.country}"/>
			<p class="help-block">CountryCode text here.</p>
		</div>

			<button type="submit" class="btn btn-default">Submit Button</button>
			<button type="reset" class="btn btn-primary">Reset Button</button>
		</form>

	</div>

</div>
<!--  end fragment -->

<th:block layout:fragment="script">

	<script th:inline="javascript">

	</script>

</th:block>