<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/boards}">

<div layout:fragment="content">

	<div class="panel-heading">Modify Page</div>
	<div class="panel-body">

    <form id='f1'>

		<div class="form-group">
			<label>사원 번호</label> <input class="form-control" name="empno"
				th:value="${vo.empno}" readonly="readonly"/>
		</div>

		<div class="form-group">
			<label>사원 이름</label> <input class="form-control" name="ename"
				th:value="${vo.ename}" />
			<p class="help-block">ename text here.</p>
		</div>

		<div class="form-group">
			<label>성별</label>
				<textarea class="form-control" name='gender' th:text="${vo.gender.name() == '여자' ? 'F' : 'M'}" readonly="readonly">
			</textarea>
		</div>
		
		<div class="form-group">
			<label>직급</label> <input class="form-control" name="job"
				th:value="${vo.job}" />
		</div>
		
		<div class="form-group">
			<label>입사일</label> <input class="form-control" name="hiredate"
				th:value="${#dates.format(vo.hiredate, 'MM/dd/yyyy')}" readonly="readonly" />
		</div>

		<div class="form-group">
			<label>매니저</label> <input class="form-control" name="mgr"
				th:value="${vo.mgr == null ? '없음' : vo.mgr.ename}" />
		</div>
		
		<div class="form-group">
			<label>월급</label> <input class="form-control" name="sal"
				th:value="${vo.sal}" />
		</div>
		
		<div class="form-group">
			<label>상여급</label> <input class="form-control" name="comm"
				th:value="${vo.comm}"/>
		</div>
		
		<div class="form-group">
			<label>부서 번호</label>
			<input class="form-control" name="dept" th:value="${vo.dept.deptno}"/>
		</div>

		<input type='hidden' name="page" th:value="${pageVO.page}">
		<input type='hidden' name="size" th:value="${pageVO.size}">
		<input type='hidden' name="type" th:value="${pageVO.type}">
		<input type='hidden' name="keyword" th:value="${pageVO.keyword}">
		
		</form>

		<div class="pull-right">
		
		  <a href="#" class="btn btn-warning modbtn">Modify</a>
		
		  <a href="#" class="btn btn-danger delbtn">Delete</a>

			<a th:href="@{ list(page=${pageVO.page}, 
			                size=${pageVO.size}, 
			                type=${pageVO.type}, 
			                keyword=${pageVO.keyword},
			                empno = ${vo.empno}
			             )}" class="btn btn-primary">Cancel & Go List</a> 
		</div>

	</div>

</div>
<!--  end fragment -->

<th:block layout:fragment="script">

	<script th:inline="javascript">
	$(document).ready(function(){
	
		var formObj = $("#f1");
		
		$(".delbtn").click(function(){
			
			formObj.attr("action","delete");
			formObj.attr("method", "post");
			
			formObj.submit();
			
		});
		
		$(".modbtn").click(function(){
			
			formObj.attr("action","modify");
			formObj.attr("method", "post");
			
			formObj.submit();
			
		});
		
		
	});	
	</script>

</th:block>