<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/boards}">

<div layout:fragment="content">

	<div class="panel-heading">Register Page</div>
	<div class="panel-body">

		<form th:action="@{register}" method="post">

			<div class="form-group">
				<label>사원 번호</label> 
				<p class="help-block">사원 번호를 입력하세요(숫자만 입력가능)</p>
				<input class="form-control" name="empno"
					th:value="${vo.empno}" />
			</div>

			<div class="form-group">
				<label>사원 이름</label>
				<textarea class="form-control" name='ename'
					th:text="${vo.ename}"></textarea>
			</div>
			
			<div class="form-group">
				<label>성별</label>
				<p class="help-block">성별을 입력하세요(M, F만 입력가능)</p>
				<textarea class="form-control" name='gender'
					th:text="${vo.gender}"></textarea>
			</div>

			<div class="form-group">
				<label>직급</label> <input class="form-control" name="job"
					th:value="${vo.job}" />
			</div>
			
			<div class="form-group">
				<label>매니저</label> <input class="form-control" name="mgr"
					th:value="${vo.mgr == null ? '없음' : vo.mgr.ename}"/>
			</div>
			
			<div class="form-group">
				<label>입사일</label> 
				<p class="help-block">형식(mm/dd/yyyy)</p>
				<input class="form-control" name="hiredate"
					th:value="${vo.hiredate}" />
			</div>
			
			<div class="form-group">
				<label>월급</label> <input class="form-control" name="sal"
					th:value="${vo.sal}" />
			</div>
			
			<div class="form-group">
				<label>상여금</label> <input class="form-control" name="comm"
					th:value="${vo.comm}" />
			</div>
			
			<div class="form-group">
				<label>부서번호</label><input class="form-control" name="dept"
					th:value="${vo.dept}"/>
			</div>
			
			<button type="submit" class="btn btn-default">Submit Button</button>
			<button type="reset" class="btn btn-primary">Reset Button</button>
		</form>

	</div>

</div>
<!--  end fragment -->

<th:block layout:fragment="script">

	<script th:inline="javascript">

	</script>

</th:block>